body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.card {
    background: #000000c3 linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    color: #fcfcfcfc;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}   

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
    background: #7c7c7c2b;
    color: #fcfcfcfc;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 21px;
    background-color: #7c7c7c2b;
    color: #fcfcfcfc;
    font-family: inherit;
    font-size: 100%;
    width: calc(100% - 80px);
    transition: background-color 0.2s ease-in-out;
}

button:hover, input.search-bar:hover {
    background: #f05941;
    color: #000000;
}

.city {
    white-space: pre-wrap;
  }

h1.temp {
    margin-top: 5px;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 15px;
}

.right-align {
    border-left: 1px solid #ccc;
    padding-left: 10px; 
}

.left-align {
    margin: 0px 10px;
}

.humidity,
.wind,
.feels_like {
    margin: 0.3em;
    font-size: 85%;
}

.flex {
    display: flex;
    align-items: center;
    font-size: 100%;
    margin-bottom: 20px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading.after {
    visibility: visible;
    content: "Loading...";
    color: #fcfcfcfc;
    position: absolute;
    top: 0;
    left: 20px;
}

.forecast {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 2em; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forecast-item {
    border-radius: 15px;
    padding: 0.5em;
    text-align: center; 
    color: white;
    transition: transform 0.2s ease-in-out; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast-item:hover {
    background: #f05941;
    color:#000000;
}